.wrapper {
    --search-hight: 46px;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    display: flex;

    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    border-radius: 92px;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        color: var(--black);
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-hight) - 18px);
        top: 9px;
        right: 52px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.clear-btn,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1 8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
